﻿body {
    font-family:Arial;font-size:14px;
}

#screenBlocker
{
    display:none;
    background-color:black;
    opacity:0.8;
    width:auto;
    height:auto;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:10;
}

#campaignBlocker{display:none;background-color:black;opacity:0.8;width:100%;height:100%;position:absolute;top:0;left:0;right:0;bottom:0;z-index:10}

.loginForm{margin:200px auto;width:300px;}

.topMenu{width:100%;background-color:#038fbd;height:45px;}
#adminOnly>div,.topMenu>div{color:white;float:left;padding:14px;}
#adminOnly{font-weight:bold;width:900px;padding:0px;}
#adminOnly>div>a {
    font-weight: normal;
}

input,select{width:160px;}

.topMenu>div a{color:white;text-decoration:none;}
.topMenu>div a:hover{color:orange}
.topMenu .welcome{float:right; padding: 10px;cursor:pointer}

.addEditForm{background-color:white;display:none;position:absolute;z-index:11;border-radius:10px;width:90%;left:5%;top:5%;border:1px solid gray;margin-top:10px;overflow:hidden;padding:20px;}
.addEditForm .closeWindow{line-height: 21px;text-align: center;margin:-21px;float:right;width:20px;height:20px;background-color:red;color:white;border-radius:0px 10px 0px 10px;cursor:pointer;}

.affiliatesGrid{width:100%;margin-top:5px;}
.affiliatesGrid th{padding:5px;font-weight:bold;color:white;background-color:#454545;}
.affiliatesGrid td{padding:5px;text-align:center;}

.campaignesGrid{width:100%;margin-top:5px;}
.campaignesGrid th{padding:5px;font-weight:bold;color:white;background-color:#454545;}
.campaignesGrid td{padding:5px;text-align:center;}

.managementPanel{position:absolute;width:100%;left:0px;bottom:10px;background-color:#038fbd;height:46px;}
.managementPanel>div{color:white;float:left;padding:14px;border:1px solid #038fbd}
.managementPanel>div a{color:white;text-decoration:none;}
.managementPanel>div:hover{border:1px solid white;cursor:pointer;background-color:#ef7d00;color:white;}

.reportform{clear:both;margin-bottom:10px;height:25px;}
.reportform input,.reportform select{margin-top:-5px;}
.reportform input[type="checkbox"]
{
    width:20px;margin-left:10px;
}

.dropparent{position:relative}
.dropparent .dropdown{position:absolute;left:0px;top:44px;background-color:#038fbd;width:150px;display:none;}
.dropparent .dropdown a{display:block;width:100%;height:30px;padding-left:15px;}
.dropparent:hover .dropdown{display:block;}

#rules-table 
{
    clear:both;
    padding:0;
    width:100%;
    overflow: hidden;
}

.add-rule-btn
{
    width: 70px;
    height: 30px;
    cursor: pointer;
}

.offer-perc-row
{
    width: 100%;
}

.offer-to-map
{
    float: left;
}

.percent-to-map
{
    float: left;
    margin-left: 10px;
    margin-right:20px;
}

.offer-percentage-mapping
{
    clear: both;
    width: 100%;
}

.campaign-rule-label
{
    float: left;
    width: 200px;
}

.campaign-rule-value
{
    float: left;
}

.campaign-rule-row
{
    overflow: hidden;
    margin: 10px 0 10px 0;
}

.offer-perc-row
{
    overflow: hidden;
}

.add-another-offer-btn
{
    clear: both;
    text-align: center;
    margin: 15px 0 10px 0;
    cursor: pointer;
}

#rules-form-validation
{
    margin: 5px;
    color: Red;
}

.link-generator-row
{
    width: 90%; 
    height: 20px; 
    padding:6px 0 6px 10px;
}

.link-generator-attr
{
    float: left;
    width:120px;
}

.link-generator-value
{
    float: left;
    width:200px;
}

.generate-link-btn
{
    cursor: pointer;
    margin: 20px 0 20px 20px;
    width: 250px;
    text-align: center;
    height: 21px;
    line-height: 21px;
}

.generate-link-btn:hover
{
    background-color: #d7d7d7;
}

.link-generator-result
{
    font-weight: bold;
    font-style:italic;
}

table.tablesorter thead tr .header {
    padding-right:20px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background-image:none;
    background-color:white;
    font-weight: normal;
}

label.ui-dropdownchecklist-text{
    font-weight: normal;
}
