﻿<%@ Page Language="C#" MasterPageFile="~/Partners/MasterPage.master" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="Partners_Default" %>

<asp:Content runat="server" ID="pageContent" ContentPlaceHolderID="ContentPlaceHolder1">
    <div>
      
    </div>
</asp:Content>